@font-face {
    font-family: pokemon;
    src: url("/assets/css/fonts/Pokemon Solid.ttf");
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    filter: brightness(0);
}

#imageContainer {
    background-image: url("/assets/images/blue_background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    width: max-content;
    margin: 0;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
